<!DOCTYPE html>
<html lang='en'>
  <head>
    <%- include("../partial/head.ejs") %>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css' />
    <script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js'></script>
    <script>
      $(document).ready(function() {
        const data=JSON.parse(`<%- eventDataJson %>`)
        var calendar = $('#calendar').fullCalendar({
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
          },
          defaultView: 'month',
          editable: true,
          events: data
          
        });
      });
      
    </script>
  </head>
  <body>
    <%- include("../partial/nav.ejs") %>
    <div id='calendar' class="container"></div>
  </body>
</html>