<!DOCTYPE html>
<html>
    <%- include("../partial/head.ejs") %>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js"></script>
    <script>
      //from fullCalendar website, I just JSON.parse my data 
      document.addEventListener('DOMContentLoaded', function() {
        const data=JSON.parse(`<%- eventDataJson %>`)
        const calendarEl = document.getElementById('calendar')
        const calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridWeek',
          headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listDay'
            },
          events: data
        })
        calendar.render()
      })

    </script>
  </head>
  <body>
    <%- include("../partial/nav.ejs") %>
    <container>
      <div id='calendar'></div>
    </container>
  </body>
</html>