* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   background-color: f6f0f3; 
   
}

header {
 /* justify-content: center; */
 /* border: solid 2px gray; */
}

a{
    color: darkslategrey;
    text-decoration: none;
}
.shape{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.card {
    padding: 10px;
    width: 280px;
    height: 250px;
    border: 5px solid transparent;
    border-radius: 3em;
}
.card-header {
    background-color: transparent;
}

.card-footer {
    background-color: transparent;
}

.completed {
    color: lightsteelblue;
}

.container-sm{
    border: 2px solid transparent;
    border-radius: 3em;
    padding: 40px;
    margin-top: 50px;
    max-width: 60%;
    letter-spacing: 1px;
}

.line{
    border-bottom: 1px solid grey;
}
.upperline {
    border-top: 1px solid grey
}
.inputtask{
    display: flex;
    margin: 5px;
}

.task {
    display: inline-block;
    margin: 10px;
    background-color: #e6d3d6;
    border: 3px solid #e6d3d6
    
}

.inputtask li{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    color: #333;
}

.noline {
    border: 1px solid transparent;
}
.delete {
    font-size: 14px;
    padding: 0.25rem 0.5rem;
}

.btntype{
    margin-top: 25px;
}


.division {
    border: 10px solid #e6d3d6;
    border-radius: 3em;
    gap: 25px;
    margin-top: 25px;
}
.ulc{
    display: flex;
    justify-content: center;
}
.rec {
    border: 10px solid transparent;
    border-radius: 3em;
    margin: 10px;
}

.sub{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.pomotodo{
    height: 600px;
}
.yellow {
    background-color: #fee1a7;
    border: 2ex solid transparent;
    border-radius: 1em;
    padding: 2px;

}

.brown {
    background-color: #d2b8aa;
    border: 2ex solid transparent;
    border-radius: 2em; 
    width: 150px;
    text-align: center;
}

.blue {
    background-color: #abb4c3;
    border: 2ex solid transparent;
    border-radius: 2em; 
    width: 150px;
    text-align: center;
}

.green {
    background-color: #92a4a4;

}

.red{
    background-color: #e6d3d6;
    border: 2ex solid transparent;
    border-radius: 2em; 
}

.grey {
    background-color: #ecdcc3;
    width: 150px;
    border: 2ex solid transparent;
    border-radius: 2em;
    text-align: center;
}

.font {
    font-family: 'Abril Fatface', cursive;
}

.STUDY {
    background-color:#bfbdae;
}

.SLEEP {
    background-color:#a99b9a;
}

.FAMILY {
    background-color: #f4d5d2; 
}
.PERSONAL{
    background-color: #ecdcc3;
}

.FUN {
    background-color: #cdae9b; 
}

.WORK {
    background-color: #d4dbe5; 
}

.HEALTH {
    background-color: #d1b6cc; 
}

.MISC {
    background-color: #e6d4c8; 
}
/* -----------------------------------------API-------------------------------------------- */



  
  .row-fluid{
    display: table-cell;
    margin:auto;
    top: 0; left: 0; right: 0; bottom: 0;
  }
  .row{
    margin:auto;
    top: 0; left: 0; right: 0; bottom: 0;
  }
  
  .centering {
    float: none;
    margin: 0 auto;
  }
  
  .totalTime{
    width:50px;
    height:30px;
    margin: 0 auto;
    float: left;
    text-align:center;
    font-size:20px;
    color:dark;
  }
  
  .btn-api{
    height:40px;
    width:40px;
    font-size:12px;
    display: block;
    background-color:rgb(255, 195, 77);
 
    margin:0 auto;
  }
  
  .glyphicon{
    text-align:center;
    float:none;
    margin:0 auto;
  }
  
  .setsize{
    width: 800px;
    height:50px;
  }

  .tutorial{
    cursor: pointer;
  }
