<nav class="navbar navbar-expand-lg green font">
    <div class="container-fluid">
      <a class="navbar-brand" href="/event">TIME PLANNER</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active brown" aria-current="page" href="/event/new">Create</a>
          </li>
          <li class="nav-item">
            <a class="nav-link red" href="/event/date">Focus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link grey" href="/ai">Ask AI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mint" href="/event/type">To-Do</a>
          </li>
          <li class="nav-item">
            <a class="nav-link babyblue" href="/weekly">Calendar</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle babyblue " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Calendar
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/daily">Daily</a></li>
              <li><a class="dropdown-item" href="/weekly">Weekly</a></li>
              <li><a class="dropdown-item" href="/monthly">Monthly</a></li>
            </ul>
          </li> -->
          <li class="nav-item">
            <a class="nav-link blue" href="/event/analysis">Analysis</a>
          </li>
      </div>
      <div>
        <button class="btn logout"><a href="/user/logout">Log Out</a></button>
      </div>
    </div>
  </nav>




  