<!DOCTYPE html>
<html lang="en">
  <%- include("../partial/head.ejs") %>

<body>
    <nav class="navbar navbar-expand-lg green font">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Time Planner</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active blue" aria-current="page" href="#">Create</a>
              </li>
              <li class="nav-item">
                <a class="nav-link brown" href="#">Focus</a>
              </li>
              <li class="nav-item">
                <a class="nav-link grey" href="#">Ask AI</a>
              </li>
              <li class="nav-item">
              <a class="nav-link mint" href="#">To-Do</a>
            </li>
            <li class="nav-item">
              <a class="nav-link babyblue" href="#">Calendar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link blue" href="#">Analysis</a>
            </li>
          </div>
        </div>
      </nav>
    <div class="container">
        <div class="col-6 center">
            <h1 class="font"> Welcome to Time Planner</h1>
            <div class="d-grid gap-2">

                <button type="button" class="btn signup"><a href="/user/signup">Sign Up</a></button>
                <br>
                <button type="button" class="btn yellow"><a href="/user/login">Log In</a></button>
            </div>
        </div>
    </div>
 <main>  