<!DOCTYPE html>
<html lang="en">
    <%- include("../partial/head.ejs") %>
<body>
    <%- include("../partial/nav.ejs") %>
 <main>
    <div class="container">
        <form class="row g-3" action="/event" method="post">
        <fieldset>
            <legend>Create a To-do Item</legend>
            <div class="col-md-6">
                <label>
                    Date:
                    <input type="date" name="startTime" class="form-control" />
                </label>
                </div>
            <div class="col-md-6">
            <label>
                Start Time:
                <input type="time" name="startTime" class="form-control" step="60" />
            </label>
            </div>
            <div class="col-md-12">
            <label>
                End Time:
                <input type="time" name="endTime" class="form-control" step="60" />
            </label>
            </div>
            <div class="col-md-6">
            <label class="form-label">
                To-Do Title:<input
                  class="form-control form-select-lg mb-3"
                  type="text"
                  name="eventTitle"
                  placeholder="enter event title"
                />
              </label>
            </div>
            <div class="col-md-6">
                To-Do Type:
                <select name="eventType" class="form-select form-select-lg mb-3" aria-label="Default select example">
                    <option value="work">Work</option>
                    <option value="study">Study</option>
                    <option value="family">Family</option>
                    <option value="personal">Personal</option>
                    <option value="health">Health</option>
                    <option value="sleep">Sleep</option>
                    <option value="fun">Fun</option>
                    <option value="misc">Misc</option>
                </select>
    
            </div>

            <div class="col-md-6">
              <label>
                Repeat:
                <select name="repeat" class="form-select form-select-lg mb-3" aria-label="Default select example">
                  <option value="none">None</option>
                  <option value="daily">Daily</option>
                  <option value="weekly">weekly</option>
                  <option value="monthly">monthly</option>
                </select>
              </label>
            </div>

            <div class="col-md-12 task-container">
              <label>
                Sub-tasks:
                    <div class="task">
                    <input type="checkbox" > 
                    <input type="text" class="todotask" name="eventSublist">
                    <button id="add-task">Add Task</button>
                    </div>

              </label>
              </div>
        </fieldset>
        <input type="submit" value="Update" />
        </form>
    </div>
 </main>
</body>
<script>
    $('#add-task').click(function(event) {
     event.preventDefault();
     const taskValue = $('.todotask').val();
     const newTask = '<div class="task"><input type="checkbox" name="eventSublist" value=" '+ taskValue +' ">' + taskValue + '<button class="delete btn-close"></button></div>';
     $('.task-container').append(newTask);
    });
    $('.delete').on('click','delete', function(event){
        event.preventDefault();
        $(this).parent().remove();
    })
</script>
</html>